.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 10px !important;
  text-align: center;
}
.v-card--reveal{
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
a{
  color: white;
  text-decoration: none;
}
